body {
    background-color: #222831;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.headercont {
    background-color: #457b9;
    color: #f1faee;
    margin-bottom: 20px;
}

.headercont img {
    max-width: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bodycont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background-color: #393E46;
    width: 500px;
    border-radius: 15px;
    gap: 10px
}

.link {
    padding: 25px;
    background-color: #EEEEEE;
    gap: 10px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #222831;
}